<div class="container user-edit">
  <div class="mt-3 mb-4">
    <h1>プロフィール情報の編集</h1>
  </div>

  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile, 'プロフィール' %>
        <%= f.text_area :profile, class: 'form-control profile-form' %>
      </div>

      <div class="submit">
        <%= f.submit '更新する！', class: 'btn btn--yellow btn--cubic' %>
      </div>
  <% end %>
</div>