<div class="container mt-4 user-interests">
  <h1>気になるリスト</h1>

<% if @interests.present? %>
  <table class="table interests-table">
    <% @interests.each do |interest| %>
      <tr>
        <% if current_user == @user %>
          <td><%= form_with(model:interest, local: true, method: :delete) do |f| %>
                <%= f.hidden_field :shop_id, :value => interest.shop_id %>
                <%= f.hidden_field :shop_name, :value => interest.shop_name %>
                <%= f.hidden_field :shop_url, :value => interest.shop_url %>
                <%= f.button :type => "submit" , style: 'border-style: none; background: none;', class: 'btn inter' do %>
                  <i class="fas fa-undo-alt undo"></i>
                <% end %>
          </td>
        <% end %>
            <% end %>
        <td class="name-td"><a href = "<%= interest.shop_url %>" target="_blank"　rel="noopener noreferrer" class="shop-name"><%= interest.shop_name %></a></td>
        <% if current_user == @user %>
          <td><a href = "/posts/<%= interest.shop_id %>/new" class="btn  btn-sm decide"><i class="fas fa-check"></i>評価する</a>
        <% end %>
      </tr>
    <% end %>
  </table>

<%= paginate @interests %>

<% else %>
  <p>気になるリストの登録がありません</p>
<% end %>

</div>
