<div class="container user-show">
  <div class="user-box row">
    <div class="col-md-6">
      <% if @user.image? %>
        <%= image_tag @user.image.url , class: 'show-img'%>
      <% else %>
        <img src="/assets/default.png" class="show-img">
      <% end %>
    </div>

    <div class="col-md-6 mt-md-5 text">
      <h3><%= @user.name %></h3>
      <% if @user.area? %><p>良く行くエリア： <%= @user.area %></p><% end %>
      <p><%= @count %></p>
      <p class="profile">プロフィール：<br><% if @user.profile? %><span style="font-size:0.8em;"><%= @user.profile %></span><% else %>登録がありません。<% end %></p>
      <% if current_user == @user %>
        <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
      <% end %>
      <%= link_to '気になるリスト', interests_user_path(@user)  %>
    </div>
  </div>
  
  <% if @posts.empty? %> 
        <p>行ったお店がありません。</p>
      <% else %>
  <table class="table show_table">
    <tr>
      <% unless current_user == @user %>
        <th class="int-th">気になる</th>
      <% end %>
      <th class="nowrap">エリア</th>
      <th class="nowrap">店名</th>
      <th class="nowrap">評価</th>
    </tr>
    <tr>
      <% @posts.each do |post| %>
      <% unless current_user == @user %>
        <% if current_user.interests.find_by(shop_id:post.shop_id) %>
          <td>
          <%= form_with(model: current_user.interests.find_by(user_id: current_user.id), local: true, method: :delete) do |f| %>
            <%= f.hidden_field :shop_id, :value => post.shop_id %>
            <%= f.hidden_field :shop_name, :value => post.shop_name %>
            <%= f.hidden_field :shop_url, :value => post.shop_url %>
            <%= f.button :type => "submit" , style: 'border-style: none; background: none;' do %>
            <i class="fas fa-exclamation not_int"></i>
            <% end %>
          <% end %>
          </td>
        <% else %>
        <td>
        <%= form_with(model: current_user.interests.build, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <%= f.hidden_field :shop_id, :value => post.shop_id %>
          <%= f.hidden_field :shop_name, :value => post.shop_name %>
          <%= f.hidden_field :shop_url, :value => post.shop_url %>
          <%= f.button :type => "submit" , style: 'border-style: none; background: none;' do %>
          <i class="fas fa-exclamation int"></i>
        <% end %>
      <% end %>
        </td>
    <% end %>
  <% end %>
        <td class="nowrap shop-station-td"><%= post.shop_station %></td>
        <td class="content">
          <a href = "<%= post.shop_url %>" target="_blank"　rel="noopener noreferrer"><%= post.shop_name %></a>
          <% if post.content? %>
            <br><p class="shop-memo">メモ：<br><span class="memo-content"><%= post.content %></span></p>
          <% end %>
          </td>
        <td class="eval nowrap"><% if post.eval == 'good' %><i class="far fa-thumbs-up good"></i><% elsif post.eval == 'bad' %><i class="far fa-thumbs-down bad"></i><% else %>評価なし<% end %></td>
       </tr>
     <% end %>
    </table>
    
  <%= paginate @posts %>
    
  <% if current_user == @user &&  @sim_users.present? %>
    <div style="text-align:center;">
      <h2>おすすめユーザー</h2>
    <div class="row">
      <% @sim_users.each do |sim_user| %>
    <div class="col-4 sim-user-box">
      <div class="sim-user-image">
        <%= link_to  user_path(sim_user) do %>
        <% if sim_user.image? %>                                                             
          <%= image_tag sim_user.image.thumb.url class: 'card-img' %>
        <% else %>
          <img src="/assets/default.png" class="card-img defalt">
      　<% end %>
      </div>
      <h4><%= sim_user.name %></h4>
        <% end %>
    </div>
  <% end %>
  </div>
</div>
<% end %>
<% end %>
</div>