<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/"><img src = "/assets/logo.png" alt= "logo" class="logo">
    <img src = "/assets/line3.png" alt= "line"  class="line">
    <img src = "/assets/food<%= rand(1..7) %>.png" class="food" alt= "food"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/users.png", width: '100', alt: 'users'), users_path  %></li>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/user.png", width: '100', alt: 'user'), user_path(current_user) %></li>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/interest.png", width: '100', alt: 'interest'), interests_user_path(current_user) %></li>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/logout.png", width: '100', alt: 'logout'), logout_path, method: :delete %></li>
        <% else %>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/login.png", width: '100', alt: 'login'), login_path %></li>
        <li class="nav-item mt-2 mt-lg-0"><%= link_to image_tag("/assets/signup.png", width: '100', alt: 'signup'), signup_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>